/* Admin */
.admin-body {
    background-color: #f2f2f2; /* Fond clair pour contraster avec tes marrons */
    margin: 0;
}


.admin-wrapper {
    display: flex;
    min-height: calc(100vh - 150px);
}

.admin-sidebar {
    flex: 0 0 250px;
    background-color: white;
    padding: 20px;
    border-right: 2px solid #deebff;
}

.admin-main {
    flex: 1;
    padding: 50px;
}

/* Tableau Admin */
.admin-table-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Optima", sans-serif;
}

.admin-table th {
    text-align: left;
    padding: 15px;
    border-bottom: 2px solid #d23508;
    color: #d23508;
}

.admin-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

/* Badges de rôles */
.badge {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #deebff;
    color: #0065FC;
}

.badge.restaurateur { background-color: #4b1707; color: white; }
.badge.livreur { background-color: #7a2308; color: white; }

/* Bouton d'action */
.btn-edit {
    background-color: #d23508;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-edit:hover {
    background-color: #7a2308;
    transform: scale(1.05);
}