/* spécialité du moment */
.specialite {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.specialite-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                /* L'espace entre les images */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box {
    flex: 0 0 22%;            
    max-width: 450px;         /* largeur boite */
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        /* Recadre proprement la photo */
}

/* LE TEXTE DANS LA BOITE */
.box-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.entree{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.entree-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box {
    flex: 0 0 22%;            
    max-width: 450px;         
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box-content {
    padding: 30px;
    text-align: center;
    color: white;
}
.plat{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.plat-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 20px;                
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box1 {
    flex: 0 0 22%;            
    max-width: 260px;        
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box1 img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box1-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.dessert{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.dessert-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 20px;                
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box1 {
    flex: 0 0 22%;            
    max-width: 260px;        
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box1 img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box1-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.boisson {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.boisson-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                /* L'espace entre les images */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box2 {
    flex: 0 0 22%;            
    max-width: 450px;         /* largeur boite */
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box2 img {
    width: 100%;
    height: 280px;            
    object-fit: cover;        /* Recadre proprement la photo */
}

/* LE TEXTE DANS LA BOITE */
.box2-content {
    padding: 30px;
    text-align: center;
    color: white;
}