/* spécialité du moment */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #4b1707;
    height: 150px;
   
}

header img {
    position: absolute;
    left: 20px;
    width: 300px;

}
h1.big-title {
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    margin-left: 20px;
}

/* Filtres */

.margFiltre{
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtre{
    display: flex;
    align-items: center;
}
.margFiltreTitre{
    margin-right: 20px;
}

.filtreTexteIcons{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTexteIcons:hover > .filtreTexte {
    color: #4b1707;
}

.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #4b1707;
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreIcons{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #4b1707;
    background-color: #deebff;

}

/* Specialite du moment */

.specialite {
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    color: #4b1707;
}

.specialite-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                /* L'espace entre les images */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box {
    flex: 0 0 22%;            
    max-width: 450px;         /* largeur boite */
    background-color: #4b1707; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        /* Recadre proprement la photo */
}

/* LE TEXTE DANS LA BOITE */
.box-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.entree{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    color: #4b1707;
}

.entree-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box {
    flex: 0 0 22%;            
    max-width: 450px;         
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box-content {
    padding: 30px;
    text-align: center;
    color: white;
}
.plat{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    color: #4b1707;
}

.plat-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 20px;                
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box1 {
    flex: 0 0 22%;            
    max-width: 260px;        
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box1 img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box1-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.dessert{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    color: #4b1707;
}

.dessert-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 20px;                
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box1 {
    flex: 0 0 22%;            
    max-width: 260px;        
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box1 img {
    width: 100%;
    height: 200px;            
    object-fit: cover;        
}

/* LE TEXTE DANS LA BOITE */
.box1-content {
    padding: 30px;
    text-align: center;
    color: white;
}

.boisson {
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding: 50px 0;
    text-align: left;
    color: #4b1707;
}

.boisson-list {
    display: flex;
    flex-direction: row;     
    justify-content: center;   
    gap: 25px;                /* L'espace entre les images */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;       
}

.box2 {
    flex: 0 0 22%;            
    max-width: 450px;         /* largeur boite */
    background-color: #7a2308; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.box2 img {
    width: 100%;
    height: 280px;            
    object-fit: cover;        /* Recadre proprement la photo */
}

/* LE TEXTE DANS LA BOITE */
.box2-content {
    padding: 30px;
    text-align: center;
    color: white;
}