* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du site : Chewy */
body {
    font-family: 'Chewy', cursive;
    background-color: #fffcfb;
}

/* Titres : Mogra */
h1, h2, h3 {
    font-family: 'Mogra', cursive;
}



/* BARRE NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231f20;
    padding: 3px 40px;
}

.logo img {
    height: 100px; /* taille du logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fffcfb;
    transition: color 0.3s ease;
    font-size: 30px; /* taille du texte */
}

.nav-links a:hover {
    color: #d23508;
}


/* Restaurateur */
.restaurateur-main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/*images*/

.commandes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 30px;
}

/* Style des cartes de commandes */
.box-commande {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-left: 8px solid #d23508;
}

.commande-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.num-commande {
    font-weight: bold;
    font-size: 1.2rem;
    color: #d23508
}

.heure {
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.commande-details ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.commande-details li {
    padding: 5px 0;
    font-size: 1.1rem;
}

/* Boutons tactiles larges */
.btn-action-status {
    width: 100%;
    padding: 15px;
    background-color: #d23508;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-action-status:hover {
    background-color: #f6d3c4;
}

.btn-secondary {
    width: 100%;
    padding: 12px;
    background-color: #e0e0e0;
    color: #777;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
}

.delivery-mode {
    border-left-color: #deebff; /* Couleur différente pour le suivi */
    opacity: 0.8;
}