footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}