@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #B0E0E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color:	#4682B4;
    padding: 30px;
    width: 420px;
    border-radius: 20px;
}

section h1{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-right: 40px;
}

.input-box input::placeholder{
    color: white;
}

