@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 120vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chewy', cursive;
    background-color: #fffcfb;
    
}

h1,
h2,
h3 {
  font-family: "Mogra", cursive;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231f20;
    padding: 3px 40px;
}

.logo img {
    height: 100px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fffcfb;
    transition: color 0.3s ease;
    font-size: 30px;
}

.nav-links a:hover {
    color: #d23508;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 18s infinite;
}



.slide1 {
    background-image: url('../images/inde2.jpg');
    animation-delay: 0s;
}

.slide2 {
    background-image: url('../images/france.jpg');
    animation-delay: 6s;
}

.slide3 {
    background-image: url('../images/cameroun.jpg');
    animation-delay: 12s;
}

@keyframes fade {
    0% { opacity: 0; transform: scale(1);}
    10% { opacity: 1; transform: scale(1.05);}
    30% { opacity: 1; transform: scale(1.1);}
    40% { opacity: 0; transform: scale(1.1);}
    100% { opacity: 0; transform: scale(1);}
}

.form-section {
    background-color: transparent;
    border: 2px solid #fffcfb;
    border-width: 3px 3px 3px 3px;
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 420px;
    border-radius: 20px;
}

section h1{
    font-size: 30px;
    text-align: center;
    color: #fffcfb;
    margin-bottom: 20px;
    font-family: "Mogra", cursive;
}

.close-btn{
    position: absolute;
    top: -1.1px;
    right: -1.1px;
    width: 40px;
    color: #fffcfb;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 15px;
    border: 2px solid #fffcfb;
}

.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fffcfb;
    padding-right: 40px;
}

.input-box input::placeholder{
    color: #fffcfb;
}

.input-box i{
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    color: #fffcfb;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #fffcfb;
    margin-bottom: 25px;
}

.remember-forgot a{
    color: #fffcfb;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;

    }

.remember-forgot a:hover{
    text-decoration: underline ;
}

.login-btn{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 40px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;
}

.login-btn:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fffcfb;
}

.register-link{
    text-align: center;
    margin : 25px;
    color: #fffcfb;
    font-size: 14px;
}

.register-link a{
    color: #fffcfb;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;

}

.register-link a:hover{
    text-decoration: underline ;
}

