
:root {

  --main-bg: #fffcfb;
  --nav-footer-bg: #231f20;
  --text-white: #fffcfb;
  --accent-orange: #d23508;


  --font-body: "Chewy", cursive;
  --font-title: "Mogra", cursive;


  --base-font-size: 20px;
  --nav-font-size: 30px;
  --footer-title-size: 30px;
  --footer-text-size: 20px;

  /* Dimensions Logos */
  --logo-nav-height: 100px;
  --logo-footer-height: 150px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

body {
  font-family: var(--font-body);
  background-color: var(--main-bg);
  font-size: var(--base-font-size);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-footer-bg);
  padding: 3px 40px;
}

.logo img {
  height: var(--logo-nav-height);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: clamp(15px, 3vw, 150px);
  flex-wrap: wrap;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-white);
  transition: color 0.3s ease;
  font-size: var(--nav-font-size);
}

.nav-links a:hover {
  color: var(--accent-orange);
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--nav-footer-bg);
  color: #fff;
  padding: 70px;
  flex-wrap: wrap;
  gap: 30px;
  background-image: url("../images/dessins/footerd1.png");
  background-repeat: no-repeat;
  background-position: left 50px bottom 80px;
  background-size: 600px;
}

.footer-logo img {
  height: var(--logo-footer-height);
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 50px;
  font-size: var(--footer-title-size);
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: var(--footer-text-size);
}

.footer-links ul li {
  margin-bottom: 40px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: var(--accent-orange);
}

.footer-contact p {
  margin: 5px 0;
  margin-bottom: 40px;
  font-size: var(--footer-text-size);
}