* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps du site : Chewy */
body {
  font-family: "Chewy", cursive;
  background-color: #fffcfb;
  background-image: url("../images/dessins/profild1.png");
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: 2000px;
}

/* Titres : Mogra */
h1,
h2,
h3 {
  font-family: "Mogra", cursive;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #231f20;
  padding: 3px 40px;
}

.logo img {
  height: 100px; /* taille du logo */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 150px;
}

.nav-links a {
  text-decoration: none;
  color: #fffcfb;
  transition: color 0.3s ease;
  font-size: 30px; /* taille du texte */
}

.nav-links a:hover {
  color: #d23508;
}

.livraison-container {
  max-width: 800px;
  margin: auto;
  background-color: #faebe4;
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d23508;
}

/* Infos livraison */
.info-livraison .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fffcfb;
  border-radius: 8px;
}

/* Liens téléphone et navigation */
a {
  color: #231f20;
  text-decoration: none;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* Boutons */
.btn {
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.nav-btn {
  background-color: #d23508;
}

.nav-btn:hover {
  background-color: darkred;
}

.complete-btn {
  background-color: green;
  color: #fffcfb;
  border: none;
}

.complete-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
