

header{
    display: flex;
    align-items: center;
   
    background-color: white;
    height: 100px;
   
}

h1.big-title {
    color: white;
    margin-left: 20px;
}
header img {
    width: 250px;
    
}

section.top-page {

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* haut / centre / bas */
}

nav.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
 
    margin-left: 30px;
}

nav.navigation li {
    color: brown;
    margin: 0 15px;
}


.notation {
    border: 2px solid black;
    padding: 23px;
    width: 800px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}



section h1{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    border: black solid 1px;
    background-color: brown;
    border-radius: 5px;
    width: 900px;
    margin: auto;
}

section h2{
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

section h3{
    text-decoration: underline;
    font-size: 25px;
}


.stars {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: lightgray;
    transition: 0.3s;
}


textarea {
    width: 700px;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.submit-btn {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: black;
}