*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chewy', cursive;
    background-color: #fffcfb;
}

h1, h2, h3 {
    font-family: 'Mogra', cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231f20;
    padding: 3px 40px;
}

.logo img {
    height: 100px; /* taille du logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fffcfb;
    transition: color 0.3s ease;
    font-size: 30px; /* taille du texte */
}

.nav-links a:hover {
    color: #d23508;
}


.notation {
    border: 2px solid black;
    padding: 23px;
    width: 800px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}



section h1{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    border: black solid 1px;
    background-color: brown;
    border-radius: 5px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

section h2{
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

section h3{
    text-decoration: underline;
    font-size: 25px;
}


.stars {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: lightgray;
    transition: 0.3s;
}


textarea {
    width: 700px;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.submit-btn {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: black;
}

section p{
    text-align: center;
    font-size: 15px;
    width: 800px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 50px;
    color: rgb(188, 186, 186);
}