/* css/notation.css */
.notation-container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.notation-container h1 {
    color: #d23508;
    text-align: center;
}

.notation-container h3 {
    color: #fca311;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    box-sizing: border-box; /* Évite que l'input dépasse */
}

.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #fca311;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #d23508;
}

.section-notation {
    border-bottom: 2px dashed #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}