* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Chewy", cursive;
    background-color: #fffcfb;
    background-image: url("../images/dessins/profild1.png");

    background-repeat: no-repeat;
    background-position: center 70px;
    background-size: 2000px;
}

h1,
h2,
h3 {
    font-family: "Mogra", cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231f20;
    padding: 3px 40px;
}

.logo img {
    height: 100px;
    /* taille du logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fffcfb;
    transition: color 0.3s ease;
    font-size: 30px;
    /* taille du texte */
}

.nav-links a:hover {
    color: #d23508;
}

.notation {
    border: 2px solid #333;
    padding: 23px;
    width: 800px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

section h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    border: 3px solid #333;
    background-color: #d23508;
    border-radius: 5px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

section h2 {
    color: #333;
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    margin-top: 30px;
}

section h3 {
    color: #333;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section h4 {
    color: #333;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

section h5 {
    color: #333;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stars {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: lightgray;
    transition: 0.3s;
}

textarea {
    width: 700px;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.submit-btn {
    background-color: #d23508;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #333;
}

section p {
    text-align: center;
    font-size: 15px;
    width: 755px;
    margin-top: -20px;
    margin-bottom: 50px;
    color: rgb(188, 186, 186);
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #231f20;
    color: #fff;
    padding: 70px;
    flex-wrap: wrap;
    gap: 30px;

    background-image: url("../images/dessins/footerd1.png");
    background-repeat: no-repeat;
    background-position: left 50px bottom 80px;
    background-size: 600px;
}

.footer-logo img {
    height: 150px;
}

.footer-links h3,
.footer-contact h3 {
    margin-bottom: 50px;
    font-size: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.footer-links ul li {
    margin-bottom: 40px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #d23508;
}

.footer-contact p {
    margin: 5px 0;
    margin-bottom: 40px;
    font-size: 20px;
}