header{
    display: flex;
    align-items: center;
   
    background-color: white;
    height: 100px;
   
}

h1.big-title {
    color: white;
    margin-left: 20px;
}
header img {
    width: 250px;
    
}

section.top-page {

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* haut / centre / bas */
}

nav.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
 
    margin-left: 30px;
}

nav.navigation li {
    color: brown;
    margin: 0 15px;
}

div.notation-form {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;

    input {
        display: none;
    }

    label{
        cursor: pointer;
        svg {
            width: 5px;
            height: 5px;
            path{
                stroke: antiquewhite;*
                fill: transparent;
                transition: 0.3s all ease-in-out;
            }
        }
    }
    
}