header{
    display: flex;
    align-items: center;
   
    background-color: white;
    height: 100px;
   
}

h1.big-title {
    color: white;
    margin-left: 20px;
}
header img {
    width: 250px;
    
}

section.top-page {

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* haut / centre / bas */
}

nav.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
 
    margin-left: 30px;
}

nav.navigation li {
    color: brown;
    margin: 0 15px;
}

