/* 1. Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du site : Chewy */
body {
    font-family: 'Chewy', cursive;
    background-color: #fffcfb;
}

/* Titres : Mogra */
h1, h2, h3 {
    font-family: 'Mogra', cursive;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #231f20;
    padding: 3px 40px;
}

.logo img {
    height: 100px; /* taille du logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: #fffcfb;
    transition: color 0.3s ease;
    font-size: 30px; /* taille du texte */
}

.nav-links a:hover {
    color: #d23508;
}








.profile-container {
  max-width: 800px;
  margin: auto;
  background-color: #faebe4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-top: 80px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color:#d23508;
  font-size: 50px;
}

section {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 15px;
  border-bottom: 1px solid #d23508;
  padding-bottom: 5px;
  font-size: 30px;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.edit {
  cursor: pointer;
  color: #888;
}

.edit:hover {
  color: #333;
}

.past-orders ul {
  list-style: none;
  padding: 0;
}

.past-orders li {
  padding: 8px;
  background-color: #fffcfb;
  margin-bottom: 5px;
  border-radius: 5px;
}

.loyalty p {
  margin: 8px 0;
  font-weight: bold;
  
}

